.option-dropdown {
    position: absolute;
    width: 25rem !important;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 1px solid black;
    background-color: white;
    top: 7rem;
    right: 4rem;
    z-index: 10000;
}

.option-dropdown > div > button {
    font-size: var(--text);
}
