.change-password-form {
    margin-top: 10vh;
    min-height: 45vh;
}

.change-password-form > div > div {
    border-radius: 1.5rem;
    border: 1px solid #ccc;
}

.change-password-form input,
.change-password-form button,
.change-password-form .fa {
    font-size: var(--text);
}