.postSender {
    display: flex;
    margin-bottom: 2rem;
    flex-direction: column;
    background-color: white;
    border-radius: 1.5rem;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
    min-height: 30vh;
}

.postSender-top {
    display: flex;
    border-bottom: 1px solid #eff2f5;
    padding: 1.5rem;
}

.postSender-top > div {
    flex: 1;
    display: flex;
}

.postSender-top > div > div {
    width: 6rem;
    height: 6rem;
}

.postSender-top > div > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.postSender-top > div > textarea {
    outline-width: 0;
    border: none;
    padding: 0.5rem 2rem;
    margin: 0 10px;
    border-radius: 1rem;
    background-color: #eff2f5;
    font-size: var(--text);
    width: 90%;
}

.postSender-middle {
    border-bottom: 1px solid #eff2f5;
}

.postSender-middle > div {
    display: flex;
    flex-wrap: wrap;
}

.postSender-middle > div .image-upload {
    flex: 30%;
    height: 16rem;
    margin: 1rem 1rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
}

.image-upload > .image {
    height: 12rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: 1px solid #ccc;
}

.image-upload > .image > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.image-upload > .btn-delete {
    height: 4rem;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-upload > .btn-delete > i {
    font-size: var(--text);
}

.postSender-bottom {
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.postSender-option {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    /* color: gray; */
    margin: 0.5rem;
}

.postSender-option:nth-child(1),
.postSender-option:nth-child(2) {
    background-color: #eff2f5;
    border-radius: 2rem;
}

.postSender-option:hover:nth-child(1),
.postSender-option:hover:nth-child(2) {
    background-color: #2e81f4;
    color: white;
    cursor: pointer;
}

.postSender-option > i {
    font-size: var(--text);
    margin-right: 1rem;
}

.postSender-option > h6 {
    font-size: calc(var(--text) + 0.4vh);
    margin-right: 1rem;
}
