.edit-profile {
    margin-bottom: 1.5rem;

}

.edit-profile > div {
    background-color: white;
    border-radius: 1.5rem;
    padding: 1.5rem;
}


.tab-header {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ccc;
}

.tab-header > button {
    position: relative;
    top: 1px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.5rem 2rem;
    font-size: var(--header6);
    font-weight: 600;
}

.tab-header > .active {
    border: 1px solid #ccc;
    border-bottom-color: #fff;
    border-radius: 5px 5px 0 0;
}
