.newfeed-sidebar {
    width: 100%;
}

.newfeed-sidebar > div {
    position: -webkit-sticky;
    position: sticky;
    top: 8rem;
}

.newfeed-sidebar > div > div {
    max-height: 80vh;
    border: 1.5rem;
    padding: 3rem;
    background: white;
    border-radius: 1.5rem;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}


.newfeed-sidebar > div > div > div:nth-child(1) {
    width: 100%;
    display: flex;
    border-bottom: 1px solid #ccc;
}

.newfeed-sidebar > div > div > div:nth-child(1) > button {
    position: relative;
    top: 1px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0.5rem 2rem;
    font-size: var(--text);
    font-weight: 600;
}

.newfeed-sidebar > div > div > div:nth-child(1) > .active {
    border: 1px solid #ccc;
    border-bottom-color: #fff;
    border-radius: 5px 5px 0 0;
}


/* .newfeed-sidebar {
  width: 100%;
}
.newfeed-sidebar > div {
  position: -webkit-sticky;
  position: sticky;
  top: 8rem;
}
.newfeed-sidebar > div > div {
  height: 40vh;
  border: 1.5rem;
  padding: 3rem;
  background: white;
  border-radius: 1.5rem;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
} */
